.breakfast div {
    width: 280px;
    padding: 15px 0px;
    transition: 0.2s;
}

.breakfast div:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.breakfast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px !important;
}